In [103]:
import pandas as pd
import re
import numpy as np
import pycountry

In [104]:
df = pd.read_csv('C:\\csv-data-collect\\job-data.csv',encoding='latin')

<hr style='color:red;'>
<p style='color:red;font-size:20px;text-align:center;'>DUPLICATES</p>
<hr style='color:red;'>

In [105]:
df.duplicated().sum()

202

In [106]:
df.drop_duplicates(inplace=True)

<hr style='color:red;'>
<p style='color:red;font-size:20px;text-align:center;'>Salary</p>
<hr style='color:red;'>

In [107]:
df['Salary'].replace(np.nan, "0",inplace=True)
df.loc[df['Salary'] == "0"]

def ConvertToIntger(string):
    Money_pattern = re.compile("["
                           u"GBP"
                           u"EUR"
                           u"K"
                           u"+"
                           u"*"
                           "]+"
                           , flags=re.UNICODE)
    return int(Money_pattern.sub(r'', string)) * 1000

df['Salary'] = df['Salary'].apply(ConvertToIntger)

<hr style='color:red;'>
<p style='color:red;font-size:20px;text-align:center;'>Job Type</p>
<hr style='color:red;'>

In [109]:
df.drop(df.loc[df['Job Type'].isna()].index,inplace=True)

In [111]:
df.loc[df['Job Type'].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities]
Index: []

<hr style='color:red;'>
<p style='color:red;font-size:20px;text-align:center;'>Job Type</p>
<hr style='color:red;'>