In [354]:
import pandas as pd
import ast
import pyodbc as Context

In [350]:
df_contributors = pd.read_csv('C:\\csv-data-collect\\github-2023_06_31_contributors.csv')
df_contributors_top_20 = pd.read_csv('C:\\csv-data-collect\\github-2023_06_31_contributors_top_20_stars.csv')
df_repos = pd.read_csv('C:\\csv-data-collect\\github-2023_06_31_main.csv')

# <p style="color:red;text-align:center;font-size:20px">Concat two data frames in one<p>

In [351]:
frames = [df_contributors_top_20, df_contributors]
contributors_main_df = pd.concat(frames)

# <p style="color:red;text-align:center;font-size:20px">Technology Object<p>

In [352]:
Technology_Object = pd.DataFrame(df_repos['language'].unique().tolist()).rename(columns={0:"Technologies"})
Technology_dict = []
for index,x in Technology_Object.iterrows():
    index = index + 1
    Technology_dict.append({'id':index,'Name':x.Technologies})
Technology_df = pd.DataFrame.from_dict(Technology_dict)
Technology_df

      id              Name
0      1            Python
1      2        JavaScript
2      3  Jupyter Notebook
3      4              Rust
4      5        TypeScript
..   ...               ...
177  178                M4
178  179             Meson
179  180               Red
180  181          Mustache
181  182             PLSQL

[182 rows x 2 columns]

# <p style="color:red;text-align:center;font-size:20px">Owner Object<p>

In [339]:
Owner_Object = pd.DataFrame(df_repos['owner'].unique().tolist()).rename(columns={0:"Owners"})
Owner_dict = []
for index,x in Owner_Object.iterrows():
    #print(index + 1,x.Owners)
    index = index + 1
    Owner_dict.append({'id':index,'Type':x.Owners})

Owner_df = pd.DataFrame.from_dict(Owner_dict)
Owner_df

   id          Type
0   1  Organization
1   2          User

# <p style="color:red;text-align:center;font-size:20px">License Object<p>

In [340]:
Licenses_Object = pd.DataFrame(df_repos['license'].unique().tolist()).rename(columns={0:"Licenses"})
License_dict = []
for index,x in Licenses_Object.iterrows():
    index = index + 1
    License_dict.append({'id':index,'Name':x.Licenses})
License_df = pd.DataFrame.from_dict(License_dict)
License_df

    id                                               Name
0    1                                 Apache License 2.0
1    2             GNU Affero General Public License v3.0
2    3                                        MIT License
3    4                    GNU General Public License v3.0
4    5                                              Other
5    6                                     'Not included'
6    7            BSD 3-Clause "New" or "Revised" License
7    8                                        ISC License
8    9                    GNU General Public License v2.0
9   10                         Eclipse Public License 2.0
10  11                                      The Unlicense
11  12        Do What The F*ck You Want To Public License
12  13                                 MIT No Attribution
13  14     Creative Commons Attribution 4.0 International
14  15               Creative Commons Zero v1.0 Universal
15  16  Creative Commons Attribution Share Alike 4.0 I...
16  17                  BSD 2-Clause "Simplified" License
17  18                         Mozilla Public License 2.0
18  19                                       zlib License
19  20             GNU Lesser General Public License v3.0
20  21                            BSD Zero Clause License
21  22                         BSD 3-Clause Clear License
22  23             GNU Lesser General Public License v2.1
23  24                  European Union Public License 1.2
24  25                         Eclipse Public License 1.0
25  26  CERN Open Hardware Licence Version 2 - Permissive
26  27                          Open Software License 3.0
27  28                  Universal Permissive License v1.0
28  29                          SIL Open Font License 1.1
29  30           BSD 4-Clause "Original" or "Old" License
30  31       Mulan Permissive Software License, Version 2
31  32                               Artistic License 2.0
32  33                         Boost Software License 1.0
33  34                 LaTeX Project Public License v1.3c

# <p style="color:red;text-align:center;font-size:20px">Contributor Object<p>

In [341]:
Contributors_Object = pd.DataFrame(contributors_main_df['contributor'].unique().tolist()).rename(columns={0:"Contributors"})
Contributor_dict = []
for index,x in Contributors_Object.iterrows():
    index = index + 1
    Contributor_dict.append({'id':index,'Name':x.Contributors})
Contributor_df = pd.DataFrame.from_dict(Contributor_dict)
Contributor_df

        id              Name
0        1         adefossez
1        2              syhw
2        3   ashleykleynhans
3        4        felixkreuk
4        5        jamierpond
...    ...               ...
9899  9900  OpposedDeception
9900  9901          Aarti-02
9901  9902      luizfmarques
9902  9903      BAN-43-32532
9903  9904          TheodShi

[9904 rows x 2 columns]

# <p style="color:red;text-align:center;font-size:20px">Repo Object<p>

In [342]:
# relationship between Technology and Repo
for index,T in Technology_df.iterrows():
    df_repos['language'].replace(T['Name'],T['id'],inplace=True)
# relationship between Owner and Repo
for index,O in Owner_df.iterrows():
    df_repos['owner'].replace(O['Type'],O['id'],inplace=True)
# relationship between License and Repo
for index,L in License_df.iterrows():
    df_repos['license'].replace(L['Name'],L['id'],inplace=True)

In [343]:
Repo_Object = df_repos[['license','language','owner','full_name','url','stargazers_count','forks','created_at','updated_at','pushed_at','description','open_issues_count']]
Repo_Object.insert(0,'id',range(1,len(Repo_Object) + 1))
Repo_Object

,id,license,language,owner,full_name,url,stargazers_count,forks,created_at,updated_at,pushed_at,description,open_issues_count
0,1,1,1,1,SysCV/sam-hq,https://github.com/SysCV/sam-hq,2033,86,2023-06-01,2023-07-06,2023-07-06,Segment Anything in High Quality,23
1,2,2,2,1,Not-Quite-RARBG/main,https://github.com/Not-Quite-RARBG/main,641,22,2023-06-01,2023-07-06,2023-06-18,Not Quite RARBG's main website.,15
2,3,3,1,1,damo-vilab/videocomposer,https://github.com/damo-vilab/videocomposer,455,49,2023-06-01,2023-07-06,2023-07-03,Oiial repo or VideoComposer: Compositional Vid...,8
3,4,3,1,1,mit-han-lab/llm-awq,https://github.com/mit-han-lab/llm-awq,401,31,2023-06-01,2023-07-06,2023-07-06,AWQ: Ativation-aware Weight Quantization or LL...,17
4,5,3,1,1,KasperskyLab/triangle_check,https://github.com/KasperskyLab/triangle_check,314,22,2023-06-01,2023-07-05,2023-06-26,No Desription,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20254,20255,6,3,2,Crossme0809/whisper-tutorials,https://github.com/Crossme0809/whisper-tutorials,2,0,2023-06-29,2023-07-02,2023-06-30,OpenAI Whisper Tutorials,0
20255,20256,6,7,2,SamuelJEAlves/CBF-Web-Application,https://github.com/SamuelJEAlves/CBF-Web-Appli...,2,0,2023-06-29,2023-06-29,2023-06-29,"First web appliation using Java OOP, HTML and XML",0
20256,20257,6,2,2,Aryan0412/Golds-Gym,https://github.com/Aryan0412/Golds-Gym,2,0,2023-06-29,2023-06-29,2023-06-29,Golds Gym Website reated using Rapid API's,0
20257,20258,6,17,2,bennytrt/bennytrtsShittyRobloxExploitTemplate,https://github.com/bennytrt/bennytrtsShittyRob...,2,0,2023-06-29,2023-06-29,2023-06-29,Shitty roblox exploit template rom beore byron...,1
20258,20259,6,2,2,Ian-Wanjohi-001/movie-api,https://github.com/Ian-Wanjohi-001/movie-api,2,0,2023-06-29,2023-07-03,2023-07-01,No Desription,0

In [344]:
Tags_dict = []
for index,tag in df_repos.iterrows():
    for x in ast.literal_eval(tag.topics):
        Tags_dict.append(x)

List_Tags = pd.DataFrame.from_dict(Tags_dict).rename(columns={0:"Tags"})

df_Tags_0 = pd.DataFrame.from_dict(List_Tags['Tags'].unique().tolist()).rename(columns={0:"Tags"})

Tag_dict = []
for index,x in df_Tags_0.iterrows():
    #print(index + 1,x.Owners)
    index = index + 1
    Tag_dict.append({'id':index,'Tag':x.Tags})

df_Tags = pd.DataFrame.from_dict(Tag_dict)
df_Tags

          id                     Tag
0          1            high-quality
1          2                     sam
2          3        segment-anything
3          4            segmentation
4          5  zero-shot-segmentation
...      ...                     ...
11366  11367                neofetch
11367  11368             preloaderjs
11368  11369       paint-application
11369  11370            paint-python
11370  11371                painting

[11371 rows x 2 columns]

# <p style="color:red;text-align:center;font-size:20px">Contributor Object<p>

In [345]:

Contributor_Object = pd.DataFrame(contributors_main_df['contributor'].unique().tolist()).rename(columns={0:"Contributors"})
Contributor_dict = []
for index,x in Contributor_Object.iterrows():
    #print(index + 1,x.Owners)
    index = index + 1
    Contributor_dict.append({'id':index,'Name':x.Contributors})

Contributor_df = pd.DataFrame.from_dict(Contributor_dict)

# <p style="color:red;text-align:center;font-size:20px">Contributor_Repo Object<p>

In [346]:
contributors_main_df

                                full_name       contributor  commit
0             facebookresearch/audiocraft         adefossez      66
1             facebookresearch/audiocraft              syhw       3
2             facebookresearch/audiocraft   ashleykleynhans       1
3             facebookresearch/audiocraft        felixkreuk       1
4             facebookresearch/audiocraft        jamierpond       1
...                                   ...               ...     ...
10759  OpposedDeception/Firmware-Research  OpposedDeception       8
10760                     Aarti-02/DevRev          Aarti-02       1
10761          luizfmarques/clone-tabnews      luizfmarques      10
10762    BAN-43-32532/FasterWhisperPytool      BAN-43-32532      19
10763             TheodShi/ai_ytv_summary          TheodShi       5

[10914 rows x 3 columns]

In [347]:
for index,T in Repo_Object.iterrows():
    contributors_main_df['full_name'].replace(T['full_name'],T['id'],inplace=True)

for index,L in Contributor_df.iterrows():
    contributors_main_df['contributor'].replace(L['Name'],L['id'],inplace=True)

In [348]:
contributors_main_df

      full_name  contributor  commit
0          6061            1      66
1          6061            2       3
2          6061            3       1
3          6061            4       1
4          6061            5       1
...         ...          ...     ...
10759     13603         9900       8
10760     13604         9901       1
10761     13605         9902      10
10762     13607         9903      19
10763     13608         9904       5

[10914 rows x 3 columns]

# <h4 style='color:blue;font-size:30px;text-align:center;'> Insrt into database </h4>

In [365]:
server = 'LAPTOP-VQCV01FE\SQLEXPRESS' 
database = 'Github_db' 
username = '' 
password = '' 
cnxn = Context.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password,autocommit=True)
cursor = cnxn.cursor()

cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2022 (RTM) - 16.0.1000.6 (X64)
	Oct  8 2022 05:58:25
	Copyright (C) 2022 Microsoft Corporation
	Express Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 22621: ) (Hypervisor)

# <h4 style='color:red;font-size:30px;text-align:center;'> Insrt Technologies into database </h4>