In [1]:
import pandas as pd

In [2]:
df_contributors = pd.read_csv('C:\\csv-data-collect\\github-2023_06_31_contributors.csv')
df_contributors_top_20 = pd.read_csv('C:\\csv-data-collect\\github-2023_06_31_contributors_top_20_stars.csv')
df_repos = pd.read_csv('C:\\csv-data-collect\\github-2023_06_31_main.csv')

# <p style="color:red;text-align:center;font-size:20px">Concat two data frames in one<p>

In [3]:
frames = [df_contributors_top_20, df_contributors]
pd.concat(frames)

                                full_name       contributor  commit
0             facebookresearch/audiocraft         adefossez      66
1             facebookresearch/audiocraft              syhw       3
2             facebookresearch/audiocraft   ashleykleynhans       1
3             facebookresearch/audiocraft        felixkreuk       1
4             facebookresearch/audiocraft        jamierpond       1
...                                   ...               ...     ...
10759  OpposedDeception/Firmware-Research  OpposedDeception       8
10760                     Aarti-02/DevRev          Aarti-02       1
10761          luizfmarques/clone-tabnews      luizfmarques      10
10762    BAN-43-32532/FasterWhisperPytool      BAN-43-32532      19
10763             TheodShi/ai_ytv_summary          TheodShi       5

[10914 rows x 3 columns]

# <p style="color:red;text-align:center;font-size:20px">Language Object<p>

In [4]:
language_Object = pd.DataFrame(df_repos['language'].unique().tolist()).rename(columns={0:"Languages"})
for index,x in language_Object.iterrows():
    #print(index + 1,x.Languages)
    pass

# <p style="color:red;text-align:center;font-size:20px">Owner Object<p>

In [5]:
Owner_Object = pd.DataFrame(df_repos['owner'].unique().tolist()).rename(columns={0:"Owners"})
for index,x in Owner_Object.iterrows():
    print(index + 1,x.Owners)
    pass

1 Organization
2 User

# <p style="color:red;text-align:center;font-size:20px">License Object<p>

In [ ]:
Licenses_Object = pd.DataFrame(df_repos['license'].unique().tolist()).rename(columns={0:"Licenses"})
for index,x in Licenses_Object.iterrows():
    print(index + 1,x.Licenses)
    pass